header {
    background-color: rgb(89, 133, 236);
    background-image: url(./img/pattern.png);
    background-size: contain;
}

.title {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
}